@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-success {
     color: var(--Component-colors-Utility-Success-utility-success-700, #067647);
  }

  .border-dotted-custom {
    border-style: solid;
    border-color: var(--Component-colors-Utility-Success-utility-success-200, #ABEFC6);
    border-width: 1px;
  }

  .circle{
       width: 6px;
       height: 6px;
       border-radius: 50%;
  }

  .bg-custom{
    background: var(--Component-colors-Utility-Success-utility-success-500, #17B26A);
  }

  .text-custom-secondary {
    color: var(--colors-text-text-secondary-700, #344054);
  }

  .border-custom-primary {
    border-style: solid;
    border-color:var(--Colors-Border-border-primary, #D0D5DD);;
    border-width: 1px;
  }